<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<ThresholdFilter level="INFO" />
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>